<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../ev-dialog/ev-error-dialog.html">

<script>
  /**
   * `EvInvestmentForecastBehavior` provides a behavior for all EValue
   * investment forecast widgets to implement.
   *
   * @polymer
   * @mixinFunction
   */
  const EvInvestmentForecastBehavior = function (superClass) {
    return class extends superClass {
      static get properties() {
        return {
          /** An optional fund code to use as the investment strategy */
          fundCode: {
            type: String,
            value: "KEBA" // TODO: We'll need to use a more suitable fund as a default
          },
          /** The lump sum to invest */
          lumpSum: Number,
          /** The monthly contribution amount */
          contribution: Number,
          /** The investment term */
          term: Number
        }
      }

      constructor() {
        super();
        this.initial = true;
        this.apiUrl = this.baseUrl + 'inv-forecast/1.0.0/forecastInvestment/forecast';
      }

      ready() {
        super.ready();

        this.inputs.addEventListener('enable-calculate', () => {
          this.outputs._enableCalculate();
        });

        this.inputs.addEventListener('disable-calculate', () => {
          this.outputs._disableCalculate();
        });

        this.outputs.addEventListener('calculate', this._makeRequest.bind(this));

        document.body.addEventListener('click', () => {
            let inputPopovers = this.inputs.shadowRoot.querySelectorAll('ev-popover');
            inputPopovers.forEach((inputPopover) => {
              if(inputPopover._showing) {
                this.inputs.hidePopover(inputPopover);
              }
            });

            let outputPopovers = this.outputs.shadowRoot.querySelectorAll('ev-popover');
            outputPopovers.forEach((outputPopover) => {
              if(outputPopover._showing) {
                this.outputs.hidePopover(outputPopover);
              }
            });
        });
      }

      /**
      * Returns a reference to the inputs
      * @return {HTMLElement}
      */
      get inputs() {
        return this.shadowRoot.querySelector('ev-investment-forecast-inputs');
      }

      /**
      * Returns a reference to the outputs
      * @return {HTMLElement}
      */
      get outputs() {
        return this.shadowRoot.querySelector('ev-investment-forecast-results');
      }

      /**
      * Returns a reference to the overlay
      * @return {HTMLElement}
      */
      get overlay() {
        return this.shadowRoot.querySelector('ev-overlay');
      }

      /**
      * Returns a reference to the spinner
      * @return {HTMLElement}
      */
      get spinner() {
        return this.shadowRoot.querySelector('ev-spinner-light');
      }

      /**
      * Returns a reference to the error dialog
      * @return {HTMLElement}
      */
      get errorDialog() {
        return this.shadowRoot.querySelector('#error-dialog');
      }

      /**
       * Creates the API request body.
       */
      _constructPostBody() {
        this.request = {
          accumulationTaxationBasis: "NONE",
          funds: [{
            code: this.fundCode,
            balance: Number(this.lumpSum),
            contributionPercentage: 100
          }],
          contributions: {
            amount: Number(this.contribution),
            increase: {
              basis: "NONE",
              rate: 0
            },
            frequency: "MONTHLY"
          },
          forecastOptions: {
            todaysPrices: false,
            terms: this._computeTerms(),
            percentiles: this._percentiles
          }
        };

        if (this.configReference) {
          this.request.configReference = this.configReference;
        }
      }

      /**
       * Makes a request to the API.
       */
      _makeRequest() {
        this.spinner.active = true;
        this.overlay.opacity = 0.66;
        this.overlay.active = true;
        this._constructPostBody();
        this.$.ajaxRequest.generateRequest();
      }

      /**
       * Handles the successful response from the API
       */
      _handleResponse() {
        this.spinner.active = false;
        this.overlay.active = false;
        this.initial = false;
      }

      /**
       * Handles the error response from the API
       */
      _handleError(event) {
        this.spinner.active = false;
        this.overlay.active = false;
        this.initial = false;
        if(this.errorDialog !=- undefined || this.errorDialog !== null) {
          this.errorDialog.openDialog(event);
        }
        console.error(event.detail.error);
      }
    }
  }
</script>