<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-investment-forecast-common/ev-investment-forecast-popover-behavior.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-button/ev-button.html">
<link rel="import" href="../ev-icon-button/ev-icon-button.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../ev-popover/ev-popover.html">
<link rel="import" href="../ev-flipnumber/ev-flipnumber.html">


<dom-module id="ev-investment-forecast-results">
  <template>
    <style>
      :host {
        background-color: #FFFFFF;
        box-sizing: border-box;
        display: block;
        padding: 12px;
        height: 285px;

        @apply --ev-font-common-base;
      }

      *:focus {
          outline: none;
      }

      .container {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-left: var(--ev-container-padding-left, 7px);
      }

      .initial_text {
        margin: auto;
        text-align: center;
      }

      .results__heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .results__heading > h2 {
        display: inline-block;
        font-size: var(--ev-your-investment-worth-header-size, 16px);
        line-height: 1.25;
        margin-top: 0px;
        margin-bottom: 5px;
        font-weight: normal;
        font-style: normal;
        letter-spacing: -0.5px;
        color: var(--ev-text-secondary-color);
        padding: 0;
        width: 90%;
      }

      #resultsTable {
        padding-left: 0;
        margin-top: 8px;
        margin-bottom: 8px;
        padding-top: 7px;
        line-height: 1.25;
        font-weight: 600;
        width: 100%;
      }

      @-moz-document url-prefix() {
        #resultsTable {
          padding-top: 0px;
        }
      }

      #resultsTable td.mid_result {
        font-size: 34px;
        font-weight: bold;
      }

      #resultsTable td {
        padding: 1px 0;
        vertical-align: middle;
        text-align: var(--ev-results-align, center);
      }

      .p-full-width {
        font-size: 16px;
        line-height: 1.4;
        width: 100%;
        text-align: left;
        margin-bottom: 3px;
        margin-top: 3px;
        text-align: center;
        font-weight: 600;
      }

      ev-button, ev-icon-button {
        background-color: var(--ev-cornflower-500);
        color: #FFFFFF;
      }

      ev-button > iron-icon {
        margin-right: 10px;
      }

      ev-popover {
        max-width: 460px;
      }

      ev-popover p {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      #resultsTable .label {
        text-align: left !important;
        padding-right: var(--ev-results-label-padding-right, 0px);
      }

      #high_amount_label {
        color: var(--ev-high-result-color, var(--ev-text-secondary-color));
      }

      #mid_amount_label {
        color: var(--ev-mid-result-color, var(--ev-text-secondary-color));
      }

      #low_amount_label {
        color: var(--ev-low-result-color, var(--ev-text-secondary-color));
      }

      #high_data_amount, #low_data_amount {
        font-size: 28px;
        opacity: 0.75;
        font-weight: bold;
      }

      #high_data_amount {
        color: var(--ev-high-result-color, #4285F4);
      }

      #mid_data_amount {
        color: var(--ev-mid-result-color, #4285F4);
      }

      #low_data_amount {
        color: var(--ev-low-result-color, #4285F4);
      }

      #but_calculate {
        width: 170px;
        height: 48px;
        margin: 8px auto;
      }

      #info_investment_worth {
        top: -2px;
        margin-left: auto;
        margin-right: 1px;
      }

      /* Edge only */
      @supports (-ms-ime-align: auto) {
        #resultsTable {
          margin-top: 0px;
        }
      }

      /* IE10+ */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        #high_amount_label, #high_data_amount {
          color: #97488d;
        }

        #mid_amount_label, #mid_data_amount {
          color: #5e8bf5;
        }

        #low_amount_label, #low_data_amount {
          color: #f14444;
        }

        .results__heading > h2 {
          font-size: 20px;
        }

        #resultsTable td {
          text-align: left;
        }

        #resultsTable .label {
          padding-right: 33px;
        }

        .container {
          width: 278px;
        }
      }
      /* IE10+ and max-width 1000px */
      @media only screen and (max-width: 1000px) and (-ms-high-contrast: none), (-ms-high-contrast: active)  {
        .container {
          width: 100%;
        }
        .initial_text, #but_calculate {
          width: 80%;
          margin-right: 12%;
        }
      }
      /* IE10+ and max-width 567px */
      @media only screen and (max-width: 567px) and (-ms-high-contrast: none), (-ms-high-contrast: active)  {
        .container {
          width: 100%;
        }
        .initial_text {
          width: 80%;
        }
        #info_investment_worth {
          margin-right: 8px;
        }
      }
    </style>

    <div class="container">
      <template is="dom-if" if="[[initial]]">
        <div class="initial_text">
          Enter your details and then click the <strong>Calculate</strong> button.
        </div>
      </template>
      <template is="dom-if" if="[[!initial]]">
        <div class="results__heading">
          <h2 class="ev-results__heading">Your investment<br/>could be worth</h2>
          <ev-icon-button id="info_investment_worth" class="round small" icon="ev-icons:info"></ev-icon-button>
          <ev-popover id="investment_worth_popover" for="mid_data_amount" absolute-top="0" absolute-left="0" position="left">
            <p>These figures show how much your investment could be worth at the end of the term.</p>
            <p><strong>High</strong> is the projected return that could occur of investment conditions result in an very favourable return.</p>
            <p><strong>Mid</strong> is the projected return that could occur of investment conditions result in an average return.</p>
            <p><strong>Low</strong> is the projected return that could occur if investment conditions result in a poor return.</p>
          </ev-popover>
        </div>
        <table id="resultsTable">
          <tbody>
            <tr>
              <td id="high_amount_label" class="label">High</td>
              <td class="high_result">
                <ev-flipnumber id="[[idPrefix]]high_data_amount" prefx="[[currency]]" value="[[_upper]]"></ev-flipnumber>
              </td>
            </tr>
            <tr>
              <td id="mid_amount_label" class="label">Mid</td>
              <td class="mid_result">
                <ev-flipnumber class="bold" id="[[idPrefix]]mid_data_amount" prefx="[[currency]]" value="[[_middle]]"></ev-flipnumber>
              </td>
            </tr>
            <tr>
              <td id="low_amount_label" class="label">Low</td>
              <td class="low_result">
                <ev-flipnumber id="[[idPrefix]]low_data_amount" prefx="[[currency]]" value="[[_lower]]"></ev-flipnumber>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="p-full-width">
          after <span id="[[idPrefix]]data_years">[[_term]]</span> years
        </p>
      </template>
      <ev-button id="[[idPrefix]]but_calculate" on-click="_calculateClicked" disabled>
        <iron-icon icon="[[_computeCalculateIcon(calculateIconName)]]"></iron-icon>
        Calculate
      </ev-button>
    </div>
  </template>

  <script>
/**
`ev-investment-forecast-common`
Common imports for both variations of the investment forecast widget

@customElement
@polymer
@demo demo/results-demo.html
*/
    class EvInvestmentForecastResults extends EvInvestmentForecastPopoverBehavior(EvWidgetBehavior(Polymer.Element)) { 
      static get is() { return 'ev-investment-forecast-results'; }
      static get properties() {
        return {
          /** A prefix that can be applied to the id of input/output elements */
          idPrefix: String,
          /** Display the initial container before the results are shown */
          initial: {
            type: Boolean,
            value: true
          },
          /** Results of the API query */
          results: {
            type: Object,
            observer: '_resultsChanged'
          },
          /**
          * Name of the icon used for the calculate icon button
          * If you wish to use a SVG Icon from a Iron Icon Set
          * the name should be in the form `iconset_name:icon_name`
          */
          calculateIconName: {
            type: String
          },
          currency: {
            type: String,
            value: '£'
          }
        };
      }

      ready() {
        super.ready();
        this.calculateButton.querySelector('iron-icon').icon = 'ev-icons:calculator';
        this.addEventListener('dom-change', function() {
          this.setupPopover();
        });
      }

      

      /**
      * Returns a reference to the 'Calculate' button
      * @return {HTMLElement}
      */
      get calculateButton() {
        return this.shadowRoot.querySelector('#' + (this.idPrefix || '') + 'but_calculate');
      }

     /**
      * Returns a reference to the investment worth popover
      * @return {HTMLElement}
      */
      get investmentWorthPopover() {
        return this.shadowRoot.querySelector('#investment_worth_popover');
      }

      /**
      * Returns a reference to the investment worth popover
      * @return {HTMLElement}
      */
      get investmentWorthBtn() {
        return this.shadowRoot.querySelector('#info_investment_worth');
      }  

      /**
      * @private
      * Computes the icon name for the caluclate icon button.
      * If the name is a image, it must be either formatted in JPEG or PNG
      * @param {String} name - svg icon name or url to image file
      */
      _computeCalculateIcon(name) {
        let iconName = 'ev-icons:calculator';
        if(name) {
          if ((name.includes('.png') || name.includes('.jpeg'))) {
            this.shadowRoot.querySelector('iron-icon').src = name;
            iconName = undefined;
          }
          else {
            iconName = name;
          }
        }
        return iconName;
      }

     /**
      * @private
      * Sets the term, the lower, middle and upper percentiles from the results
      * @param {Array}
      */
      _resultsChanged(newResults) {
        if (newResults) {
          for (let i = 0; i < newResults.results.length; i++) {
            const percentile = newResults.results[i];
            if (percentile.percentile === 5) {
              this._lower = this._getTermResultFromPercentile(percentile)
            } else if (percentile.percentile === 50) {
              this._middle = this._getTermResultFromPercentile(percentile);
            } else if (percentile.percentile === 95) {
              this._upper = this._getTermResultFromPercentile(percentile);
            }
          }

          const terms = newResults.results[0].terms;
          this._term = terms[terms.length - 1].term;
        }
      }

     /**
      * @private
      * Gets the term from a percentile
      * @param {Array}
      * @return {Number}
      */
      _getTermResultFromPercentile(percentile) {
        return percentile.terms[percentile.terms.length - 1].value;
      }

      /**
      * @private
      * Enable the 'Calculate' button
      */
      _enableCalculate() {
        this.calculateButton.disabled = false;
      }

      /**
      * @private
      * Disable the 'Calculate' button
      */
      _disableCalculate() {
        this.calculateButton.disabled = true;
      }

      /**
      * @private
      * Send a 'calculate' event to notify the parent to calculate
      */
      _calculateClicked() {
        this.dispatchEvent(new CustomEvent('calculate'));
      }

      /**
      * When the results are displayed - set up the popover button listener
      */
      setupPopover() {
        if(!this.initial) {
          if(this.investmentWorthBtn != null || this.investmentWorthBtn != undefined) {
            this.investmentWorthBtn.addEventListener('click', (event, popover) => { this._openPopover(event, this.investmentWorthPopover) });
          }
        }
      }

      /**
      * Set the popover position to be top, left, bottom or right
      * @param {String} position - top, right, bottom, left
      */
      setPopoverPosition(position) {
        let popover = this.investmentWorthPopover;
        if (popover != null || popover != undefined) {
          popover.position = position;
        }
      }

      /**
      * Set the absolute top position
      * @param {Number} top - top position
      */
      setPopoverTop(top) {
        let popover = this.investmentWorthPopover;
        if (popover != null || popover != undefined) {
          popover.absoluteTop = top;
        }
      }

      /**
      * Set the absolute left position
      * @param {Number} left - left position
      */
      setPopoverLeft(left) {
        let popover = this.investmentWorthPopover;
        if (popover != null || popover != undefined) {
          popover.absoluteLeft = left;
        }
      }

      /**
      * Set the popover pointer position
      * @param {Number} offset = pointer offset
      */      
      setPopoverOffset(offset) {
        let popover = this.investmentWorthPopover;
        if (popover != null || popover != undefined) {
          popover.pointerOffset = offset;
        }
      }
    }

    window.customElements.define(EvInvestmentForecastResults.is, EvInvestmentForecastResults);
  </script>
</dom-module>