<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-button/ev-button.html">
<link rel="import" href="../ev-icon-button/ev-icon-button.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../ev-popover/ev-popover.html">
<link rel="import" href="../ev-flipnumber/ev-flipnumber.html">


<dom-module id="ev-investment-forecast-results-with-risk">
  <template>
    <style>
      :host {
        background-color: #FFFFFF;
        box-sizing: border-box;
        display: block;
        padding-top: 12px;
        height: 285px;
        outline: none;

        @apply --ev-font-common-base;
      }

      *:focus {
          outline: none;
      }

      .container {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-left: var(--ev-container-padding-left, 0px);
      }

      .header {
        position: absolute;
        top: 0px;
        left: 70px;
        font-size: 20px;
        font-weight: normal;
        padding-top: 3px;
      }

      #results {
        display: block;
        padding-left: 0px;
        margin-top: 75px;
        line-height: 1.25;
        font-weight: 600;
      }

      #results .mid_result {
        font-size: 28px;
        font-weight: bold;
      }

      ev-icon-button {
        background-color: var(--ev-help-icon-color, #737373);
        color: #FFFFFF;
      }

      ev-popover {
        max-width: 460px;
      }

      ev-popover p {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      #investmentWorthPopover {
        width: 618px;
        max-width: 618px;
      }

      #results .label {
        font-size: 20px;
      }

      #high_data_amount, .high-data-colour {
        color: var(--ev-high-result-color, #7b1fa2);
        opacity: 0.65;
      }

      #mid_data_amount, .mid-data-colour {
        color: var(--ev-mid-result-color, #7b1fa2);
      }

      #low_data_amount, .low-data-colour {
        color: var(--ev-low-result-color, #7b1fa2);
        opacity: 0.65;
      }

      .high-data-circle-colour, .low-data-circle-colour {
        background-color: var(--ev-high-result-color, #D5E2B0);
      }

      .mid-data-circle-colour {
        background: var(--ev-mid-result-color, #87AB1E);
      }

      #high_data_amount, #low_data_amount {
        font-size: 28px;
        opacity: 0.65;
        font-weight: bold;
      }

      .high_result, .mid_result, .low_result {
        margin-bottom: 25px;
      }

      #info-investment-worth {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid white;
      }

      /* IE10+ */
     @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

        #high_data_amount, .high-data-colour,
        #low_data_amount, .low-data-colour  {
          color: #87AB1E;
          opacity: 0.65;
        }

        #mid_data_amount, .mid-data-colour  {
          color: #87AB1E;
        }

        .high-data-circle-colour, .low-data-circle-colour {
          background-color: #D5E2B0;
        }

        .mid-data-circle-colour {
          background: #87AB1E;
        }

      }

      @media only screen and (max-width: 768px) {
        #investmentWorthPopover {
          width: 95%;
          max-width: none;
        }
      }

      @media only screen and (max-width: 768px) {
        :host {
          background-color: transparent !important;
        }
        .container {
          height: auto;
        }
        #single-column-results {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
        .mobile-row, .single-column-result-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 25px;
        }
        .mobile-header {
          margin: 0 auto 12px auto;
          font-size: 22px;
          font-weight: normal;
          margin-top: 14px;
          left: calc((100% - 325px) / 2);
        }
        .high_result, .mid_result, .low_result {
            margin-bottom: 0px;
        }
        #results-wrapper {
          margin: 0 auto;
        }
        #results-wrapper .result {
          display: flex;
          width: 55%;
        }
        #results-wrapper .circle {
          align-self: center;
          margin-right: 20px;
        }
        #results-wrapper .label {
          width: 100px;
          margin-left: 53px;
        }
        #mid_data_amount {
          font-size: 28px;
          font-weight: bold;
        }
        #info-investment-worth {
          position: absolute;
          top: 475px;
          right: 20px;
          margin-top: -15px;
        }
      }

      @media only screen and (max-width: 520px) {
        #single-column-results {
          flex-wrap: nowrap;
        }
        .mobile-header {
          margin-top: 65px;
        }
      }

      @media only screen and (max-width: 500px) {
        ev-popover {
          width: 90%;
        }
      }

      @media only screen and (max-width: 430px) {
        .header, .mobile-header {
          font-size: 16px;
        }
        #results-wrapper .label {
          width: 100px;
          margin-left: 37px;
        }
      }
    </style>

<div class="container">
  <template is="dom-if" if="[[initial]]">
  </template>
  <template is="dom-if" if="[[!initial]]">
    <div>
      <h2 class="header">[[heading]]</h2>
      <ev-icon-button id="info-investment-worth" class="round small" icon="ev-icons:info" on-click="_openPopover"></ev-icon-button>
      <ev-popover id="investmentWorthPopover" position="top" absolute-top="0" absolute-left="0" no-pointer>
        <p>The chart shows the likely range of outcomes your investment could take. These figures are calculated by projecting 1,000 alternate views of future investment scenarios and evaluating the likelihood of each. It is possible that your investment value may lie outside this forecast range at any point in time, and the final value of your investment may be less than the amount invested.</n></n></p>
        <p><strong>Strong return:</strong> the projected outcome that could occur if the overall investment conditions are very favourable.</p>
        <p><strong>Average return:</strong> the projected outcome that could occur if the overall investment conditions are average.</p>
        <p><strong>Weak return:</strong> the projected outcome that could occur if the overall investment conditions are poor.</p>
      </ev-popover>
    </div>
    <template is="dom-if" if="[[fullScreen]]">
    <div id="results">
      <div class="label high-data-colour">Strong outcome</div>
      <div class="high_result">
        <ev-flipnumber id="[[idPrefix]]high_data_amount" prefx="[[currency]]" value="[[_upper]]"></ev-flipnumber>
      </div>
      <div class="label mid-data-colour">Average outcome</div>
      <div class="mid_result">
        <ev-flipnumber class="bold" id="[[idPrefix]]mid_data_amount" prefx="[[currency]]" value="[[_middle]]"></ev-flipnumber>
      </div>
      <div class="label low-data-colour">Weak outcome</div>
      <div class="low_result">
        <ev-flipnumber id="[[idPrefix]]low_data_amount" prefx="[[currency]]" value="[[_lower]]"></ev-flipnumber>
      </div>
    </div>
    </template>
    <template is="dom-if" if="[[singleColumn]]">
    <div id="single-column-results">
      <div class="single-column-result-header">
        <h2 class="mobile-header">Money you could have after [[_term]] years</h2>
        <ev-icon-button id="info-investment-worth" class="round small" icon="ev-icons:info" on-click="_openPopover"></ev-icon-button>
      </div>
      <div id="results-wrapper">
        <div class="mobile-row">
          <div class="result">
            <div class="circle high-data-circle-colour"></div>
            <div class="high_result">
              <ev-flipnumber id="[[idPrefix]]high_data_amount" prefx="[[currency]]" value="[[_upper]]"></ev-flipnumber>
            </div>
          </div>
          <div class="label high-data-colour">Strong outcome</div>
        </div>
        <div class="mobile-row">
          <div class="result">
            <div class="circle mid-data-circle-colour"></div>
            <div class="mid_result">
              <ev-flipnumber class="bold" id="[[idPrefix]]mid_data_amount" prefx="[[currency]]" value="[[_middle]]"></ev-flipnumber>
            </div>
          </div>
          <div class="label mid-data-colour">Average outcome</div>
        </div>
        <div class="mobile-row">
          <div class="result">
            <div class="circle low-data-circle-colour"></div>
            <div class="low_result">
              <ev-flipnumber id="[[idPrefix]]low_data_amount" prefx="[[currency]]" value="[[_lower]]"></ev-flipnumber>
            </div>
          </div>
          <div class="label low-data-colour">Weak outcome</div>
        </div>
      </div>
    </div>
  </template>
  </template>
</div>
</template>

  <script>
/**
`ev-investment-forecast-common`
Common imports for both variations of the investment forecast widget

@customElement
@polymer
@demo demo/results-risk-demo.html
*/
    class EvInvestmentForecastResultsWithRisk extends Polymer.Element {
      static get is() { return 'ev-investment-forecast-results-with-risk'; }
      static get properties() {
        return {
          /** A prefix that can be applied to the id of input/output elements */
          idPrefix: String,
          /** Display the initial container before the results are shown */
          initial: {
            type: Boolean,
            value: true
          },
          /** Results of the API query */
          results: {
            type: Object,
            observer: '_resultsChanged'
          },
          /**
          * Name of the icon used for the calculate icon button
          * If you wish to use a SVG Icon from a Iron Icon Set
          * the name should be in the form `iconset_name:icon_name`
          */
          calculateIconName: {
            type: String
          },
          /** True when the screen size is less than 900px */
          singleColumn: {
            type: Boolean,
            value: false
          },
          /** True when the screen size reaches 900px */
          fullScreen: {
            type: Boolean,
            value: true
          },
          /** Heading for the results container */
          heading: {
            type: String,
          },
          currency: {
            type: String,
            value: '$'
          },
          precision: {
            type: Number,
            value: 3
          }
        };
      }

      ready() {
        super.ready();
      }

      /**
      * Returns a reference to the investment worth popover
      * @return {HTMLElement}
      */
      get investmentWorthPopover() {
        return this.shadowRoot.querySelector('#investmentWorthPopover');
      }

      /**
      * Returns a reference to the parent overlay
      * @return {HTMLElement}
      */
      get overlay() {
        let parent = this.getRootNode();
        return parent.querySelector('ev-overlay');
      }

      /**
      * Returns a reference to the investment worth popover's close button
      * @return {HTMLElement}
      */
      get investmentWorthPopoverClose() {
        return this.investmentWorthPopover.shadowRoot.querySelector('#close');
      }

      /**
      * Display results for single column mobile display
      */
      displayHeader(fullScreen) {
        let header = 'How your investment might perform';

        if(!this.initial && fullScreen) {
          header = 'How your investment might perform over the next ' + this._term + ' years'
        }

        this.heading = header;
      }

      /**
      * Display results for single column mobile display
      */
      displayMobileResults() {
        this.fullScreen = false;
        this.singleColumn = true;
        this.displayHeader(false);
      }

      /**
      * Display results for a display that is not mobile
      */
      displayNonMobileResults() {
        this.fullScreen = true;
        this.singleColumn = false;
        this.displayHeader(true);
      }

      /**
       * Open the popover and display an overlay
       * @param {event}
       */
      _openPopover(event) {
        if(this.overlay !== null) {
          this.overlay.active = true;
        }
        this.investmentWorthPopoverClose.addEventListener('click', () => { this._closePopover() });

        event.stopPropagation();
        this.investmentWorthPopover.toggle();
      }

      /**
      * @private
      * Override the existing popover close behaviour to remove the overlay
      */
      _closePopover() {
        if(this.overlay !== null) {
          this.overlay.active = false;
        }
        this.investmentWorthPopoverClose.removeEventListener('click', () => { this._closePopover() });
      }

      /**
      * Computes the icon name for the caluclate icon button.
      * If the name is a image, it must be either formatted in JPEG or PNG
      * @param {String} name - svg icon name or url to image file
      * @return {String}
      */
      _computeCalculateIcon(name) {
        let iconName = 'ev-icons:calculator';
        if(name) {
          if ((name.includes('.png') || name.includes('.jpeg'))) {
            this.shadowRoot.querySelector('iron-icon').src = name;
            iconName = undefined;
          }
          else {
            iconName = name;
          }
        }
        return iconName;
      }

      /**
      * @private
      * Sets the term, the lower, middle and upper percentiles from the results
      * @param {Array}
      */
      _resultsChanged(newResults) {
        if (newResults) {
          for (let i = 0; i < newResults.results.length; i++) {
            const percentile = newResults.results[i];
            if (percentile.percentile === 5) {
              this._lower = this._getTermResultFromPercentile(percentile)
            } else if (percentile.percentile === 50) {
              this._middle = this._getTermResultFromPercentile(percentile);
            } else if (percentile.percentile === 95) {
              this._upper = this._getTermResultFromPercentile(percentile);
            }
          }

          this._term = newResults.results[0].terms.length - 1;
        }
      }

      /**
      * @private
      * Gets the term from a percentile
      * @param {Array}
      * @return {Number}
      */
      _getTermResultFromPercentile(percentile) {
        return this._getRoundedResult(percentile.terms[percentile.terms.length - 1].value);
      }

      /**
      * @private
      * Rounds down to power of ten.  Implemented from evalueFramework.js see roundDownToPowerOfTen
      * @param {Number}
      * @return {Number}
      */
      _getRoundedResult(toRound) {
        var result = toRound;
        let number = parseFloat(toRound, 10);
        let length = parseInt(toRound, 10).toString().length;

        if (!isNaN(number)) {
            if (length > 3) {
                var power = parseInt(length - 3, 10);

                if (!isNaN(power)) {
                    var nearest = Math.pow(10, power);
                    result = Math.floor(number / nearest) * nearest;
                }
            } else {
              result = Math.floor(number/10)*10;
            }
        }
        return result;
      }

      /**
      * Set the popover position to be top, left, bottom or right
      * @param {String} position - top, right, bottom, left
      */
      setPopoverPosition(position) {
        let popover = this.investmentWorthPopover;
        if (popover != null || popover != undefined) {
          popover.position = position;
        }
      }

      /**
      * Set the absolute top position
      * @param {Number} top position
      */
      setPopoverTop(top) {
        let popover = this.investmentWorthPopover;
        if (popover != null || popover != undefined) {
          popover.absoluteTop = top;
        }
      }

      /**
      * Set the absolute left position
      * @param {Number} left position
      */
      setPopoverLeft(left) {
        let popover = this.investmentWorthPopover;
        if (popover != null || popover != undefined) {
          popover.absoluteLeft = left;
        }
      }

      /**
      * Set the popover pointer position
      * @param {Number} pointer offset
      */
      setPopoverOffset(offset) {
        let popover = this.investmentWorthPopover;
        if (popover != null || popover != undefined) {
          popover.pointerOffset = offset;
        }
      }
    }

    window.customElements.define(EvInvestmentForecastResultsWithRisk.is, EvInvestmentForecastResultsWithRisk);
  </script>
</dom-module>