<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-input-field/ev-input-field.html">
<link rel="import" href="../ev-button/ev-button.html">
<link rel="import" href="../ev-icon-button/ev-icon-button.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../ev-popover/ev-popover.html">
<link rel="import" href="../ev-slider/ev-slider.html">

<dom-module id="ev-investment-forecast-inputs-with-risk">
  <template>
    <style>
      :host {
        background: transparent;
        box-sizing: border-box;
        display: block;
        padding: 0 5px;
        outline: none;
      }

      *:focus {
        outline: none;
      }

      ev-input-field {
        display: inline-block;
        width: 79%;
      }

      ev-icon-button {
        background-color: var(--ev-help-icon-color, #737373);
        color: var(--ev-icon-fill);
      }

      .row {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        justify-content: space-between;
      }

      .row.term {
        margin-bottom: 0px;
      }

      .row.last {
        margin-bottom: 0px;
      }

      #term_icon_btn,
      #lump_sum_icon_btn,
      #cont_icon_btn {
        top: 3px;
        margin-right: 12px;
      }

      #fund_icon_btn {
        top: -30px;
        margin-right: 12px;
      }

      #inp_lump_sum,
      #inp_contribution,
      #inp_term {
        padding-top: 27px;
        padding-bottom: 0px;
      }

      .floating-label-placeholder {
        display: flex;
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 22px;
        margin-left: 7px;
        font-family: var(--ev-font-common-base_-_font-family);
        -webkit-font-smoothing: var(--ev-font-common-base_-_-webkit-font-smoothing);
        -webkit-transition: top 200ms ease, line-height 200ms ease, height 200ms ease, width 200ms ease, -webkit-transform 200ms ease, font-size 200ms ease, color 200ms ease;
        transition: top 200ms ease, line-height 200ms ease, height 200ms ease, width 200ms ease, transform 200ms ease, font-size 200ms ease, color 200ms ease;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        color: var(--ev-input-label-floating-color, var(--ev-cornflower-500));
        white-space: nowrap;
        font-size: 13px;
        line-height: var(--ev-input-container-height, 40px);
      }

      #inp_fund {
        width: 258px;
        margin-left: -14px;
      }

      .slider-labels {
        display: flex;
        justify-content: space-between;
        width: 75%;
      }

      .high-risk-label,
      .low-risk-label {
        font-size: 13px;
      }

      .low-risk-label {
        margin-left: 7px;
      }

      ev-slider {
        --ev-slider-pin-color: var(--ev-risk-slider-inputs-pin-color, #4285F4);
        --ev-slider-container-color: var(--ev-risk-slider-inputs-container-color, #C3D4F1);
        --ev-slider-active-color: var(--ev-risk-slider-inputs-active-color, #4285F4);
        --ev-slider-markers-color: var(--ev-risk-slider-inputs-markers-color, #4285F4);
        --ev-slider-knob-color: var(--ev-risk-slider-inputs-knob-color, #4285F4);
      }

      @media only screen and (max-width: 900px) {
        .inputs {
          display: flex;
          flex-wrap: wrap;
        }

        #lump_sum_icon_btn,
        #cont_icon_btn,
        #term_icon_btn,
        #fund_icon_btn {
          margin-right: 20px;
        }

        #inp_fund {
          width: 83%;
          margin-left: 0px;
        }

        #info-investment-worth {
          position: absolute;
          top: 20px;
          right: 26px;
        }

        #inp_term {
          width: calc(79% - 14px);
          margin-left: 14px;
        }

        .mobile-column {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          width: 50%;
        }
      }

      @media only screen and (max-width: 768px) {

        #lump_sum_icon_btn,
        #cont_icon_btn,
        #term_icon_btn,
        #fund_icon_btn {
          margin-right: 12px;
        }

        #lump_sum_icon_btn,
        #cont_icon_btn {
          left: -20px;
        }

        #inp_term {
          width: 75%;
          margin-left: 0px;
        }

        #inp_fund {
          width: 86%;
          margin-left: -14px;
        }

        ev-input-field {
          width: 75%;
        }
      }

      @media only screen and (max-width: 560px) {
        :host {
          padding: 0px;
        }
      }

      @media only screen and (max-width: 530px) {
        .mobile-column {
          width: 100%;
        }

        #lump_sum_icon_btn,
        #cont_icon_btn {
          left: 0px;
        }
      }

      @media only screen and (max-width: 500px) {
        ev-popover {
          width: 90%;
        }
      }

      /* IE10+ */
      @media all and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
        ev-icon-button {
          background-color: #4285F4;
          color: white;
        }
      }

      /* IE10+ and max-width 900px */
      @media only screen and (max-width: 900px) and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
        #fund_icon_btn {
          right: -7px;
        }
      }

      /* IE10+ and max-width 768px */
      @media only screen and (max-width: 768px) and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
        #fund_icon_btn {
          right: 0px;
        }
      }
    </style>

    <div class="inputs">
      <div class="mobile-column">
        <div class="row">
          <ev-input-field id="[[idPrefix]]inp_lump_sum" tabindex="0" label="Current Fund Value" type="number" min="0"
            max="999999999" minlength="1" value="{{lumpSum}}" auto-validate error-message="Maximum: £999,999,999">
            <div class="prefix" slot="prefix"></div>
          </ev-input-field>
          <ev-icon-button id="lump_sum_icon_btn" icon="[[_computeIcon(helpIconName)]]" class="round small"
            on-click="_openPopover"></ev-icon-button>
          <ev-popover id="lump_sum_popover" for="[[idPrefix]]inp_lump_sum" position="bottom" pointer-offset="-100">
            The current fund value of your investments.
          </ev-popover>
        </div>
        <div class="row">
          <ev-input-field id="[[idPrefix]]inp_contribution" tabindex="0" label="Total Monthly Contributions" type="number" min="0"
            max="999999999" minlength="1" value="{{contribution}}" auto-validate error-message="Maximum: £999,999,999">
            <div class="prefix" slot="prefix"></div>
          </ev-input-field>
          <ev-icon-button id="cont_icon_btn" icon="[[_computeIcon(helpIconName)]]" class="round small"
            on-click="_openPopover"></ev-icon-button>
          <ev-popover id="contribution_popover" for="[[idPrefix]]inp_contribution" position="bottom"
            pointer-offset="-100">
            The total monthly contributions that you are making to your investments. This should include any employer benefits.
          </ev-popover>
        </div>
      </div>
      <div class="mobile-column">
        <div class="row term">
          <ev-input-field id="[[idPrefix]]inp_term" tabindex="0" label="Term to Retirement Date" type="number" min="1" max="50"
            step="1" minlength="1" value="{{term}}" auto-validate error-message="Enter a value between 1 and 50" locale>
            <div id="term-label" class="prefix" slot="suffix">years</div>
          </ev-input-field>
          <ev-icon-button id="term_icon_btn" icon="[[_computeIcon(helpIconName)]]" class="round small"
            on-click="_openPopover"></ev-icon-button>
          <ev-popover id="investment_term_popover" for="[[idPrefix]]inp_term" position="top" pointer-offset="-100">
            The number of years until you wish to retire.
          </ev-popover>
        </div>
        <div class="row last">
          <label id="floating_label" class="floating-label-placeholder" for="ev-slider">Investment Risk</label>
          <ev-slider id="[[idPrefix]]inp_fund" tabindex="0" pin snaps max="{{riskGroup}}" max-markers="{{riskGroup}}"
            step="1" start="1" value="{{risk}}">
          </ev-slider>
          <div class="slider-labels">
            <label class="low-risk-label">Low risk</label>
            <label class="high-risk-label">High risk</label>
          </div>
          <ev-icon-button id="fund_icon_btn" icon="[[_computeIcon(helpIconName)]]" class="round small"
            on-click="_openPopover"></ev-icon-button>
          <ev-popover id="investment_fund_popover" for="inp_fund" position="top" pointer-offset="-100">
            <p>There are multiple investment strategies to choose from ranging from 1 (Cautious), for people who wish to only
              take a small amount of investment risk and protect their capital, to <n> (Adventurous) for people who
                wish to take a substantial degree of risk for the highest possible longer term investment performance.
            </p>
            <p>Explore how changing the investment strategy affects the possible range of returns.</p>
          </ev-popover>
        </div>
      </div>
    </div>
  </template>

  <script>
    /**
    `ev-investment-forecast-common`
    Common import containing the inputs for the investment forecast widget with risk slider.

    // simple comment

    @customElement
    @polymer
    @demo demo/inputs-risk-demo.html
    */
    class EvInvestmentForecastInputsWithRisk extends Polymer.Element {
      static get is() { return 'ev-investment-forecast-inputs-with-risk'; }
      static get properties() {
        return {
          /** A prefix that can be applied to the id of input/output elements */
          idPrefix: String,
          /** The lump sum to invest */
          lumpSum: {
            type: Number,
            notify: true
          },
          /** The monthly contribution amount */
          contribution: {
            type: Number,
            notify: true
          },
          /** The investment term */
          term: {
            type: Number,
            notify: true
          },
          /** The investment fund risk */
          risk: {
            type: Number,
            notify: true,
            observer: '_riskChanged'
          },
          /** The investment risk group, which can be either 5, 7 or 10. The default is 10. */
          riskGroup: {
            type: Number,
            notify: true,
            value: 10
          },
          /**
          * Name of the icon used for the help icon buttons.
          * If you wish to use a SVG Icon from a Iron Icon Set
          * the name should be in the form `iconset_name:icon_name`
          */
          helpIconName: {
            type: String
          },
          /** All help icon elements */
          _iconElements: {
            type: Array,
            computed: '_computeIconElements()'
          },
          /** Currency prefix for monetary input fields */
          currency: {
            type: String,
            value: '£'
          }
        };
      }

      /**
      * Returns a reference to the lump sum input element.
      * @return {HTMLElement}
      */
      get lumpSumField() {
        return this.shadowRoot.querySelector('#' + (this.idPrefix || '') + 'inp_lump_sum');
      }

      /**
      * Returns a reference to the contribution input element.
      * @return {HTMLElement}
      */
      get contributionField() {
        return this.shadowRoot.querySelector('#' + (this.idPrefix || '') + 'inp_contribution');
      }

      /**
      * Returns a reference to the term input element.
      * @return {HTMLElement}
      */
      get termField() {
        return this.shadowRoot.querySelector('#' + (this.idPrefix || '') + 'inp_term');
      }

      /**
      * Returns a reference to the term fund risk element.
      * @return {HTMLElement}
      */
      get fundField() {
        return this.shadowRoot.querySelector('#' + (this.idPrefix || '') + 'inp_fund');
      }

      /**
      * Returns a reference to the lump sum popover.
      * @return {HTMLElement}
      */
      get lumpSumPopover() {
        return this.shadowRoot.querySelector('#lump_sum_popover');
      }

      /**
      * Returns a reference to the contribution popover.
      * @return {HTMLElement}
      */
      get contributionPopover() {
        return this.shadowRoot.querySelector('#contribution_popover');
      }

      /**
      * Returns a reference to the term fund popover.
      * @return {HTMLElement}
      */
      get investmentTermPopover() {
        return this.shadowRoot.querySelector('#investment_term_popover');
      }

      /**
      * Returns a reference to the fund popover.
      * @return {HTMLElement}
      */
      get investmentFundPopover() {
        return this.shadowRoot.querySelector('#investment_fund_popover');
      }

      /**
      * Returns a reference to the parent overlay
      * @return {HTMLElement}
      */
      get overlay() {
        let parent = this.getRootNode();
        return parent.querySelector('ev-overlay');
      }

      /**
      * Returns a reference to the lumpsum prefix.
      * @return {HTMLElement}
      */
      get lumpSumPrefix() {
        return this.lumpSumField.getElementsByClassName("prefix")[0];
      }

      /**
      * Returns a reference to the contribution prefix.
      * @return {HTMLElement}
      */
      get contributionPrefix() {
        return this.contributionField.getElementsByClassName("prefix")[0];
      }


      ready() {
        super.ready();

        this.lumpSumField.addEventListener('new-input', () => {
          this._checkInputsValidity();
          this._setLumpSumPrefix();
          });
        this.contributionField.addEventListener('new-input', () => {
          this._checkInputsValidity();
          this._setContributionPrefix();
        });
        this.termField.addEventListener('new-input', this._checkInputsValidity.bind(this));
        this.fundField.addEventListener('change', this._updateChart.bind(this));

        this.lumpSumPopover.$.close.addEventListener('click', () => { this._closePopover() });
        this.contributionPopover.$.close.addEventListener('click', () => { this._closePopover() });
        this.investmentTermPopover.$.close.addEventListener('click', () => { this._closePopover() });
        this.investmentFundPopover.$.close.addEventListener('click', () => { this._closePopover() });

        this._iconElements.forEach((element) => {
          element.icon = 'ev-icons:info';
        });
      }

      /**
       * Get the risk group (the maximum risk slider amount)
       * @return {Number}
       */
      getRiskGroup() {
        return this.fundField.max;
      }

      /**
       * @param {Number}
       * Set the risk group, needed to update the slider markers and max
       */
      setRiskGroup(riskGroup) {
        this.riskGroup = riskGroup;
      }

      /**
      * Inspects the inputs to determine whether they are populated and valid
      * @return {Boolean}
      */
      areInputsValid() {
        let valid = false;

        let anyEmpty = this._isInputsEmpty();
        let anyInvalid = this._isInputsInvalid();
        if (!(anyEmpty || anyInvalid)) {
          valid = true;
        }
        return valid;
      }

      /**
      * @private
      * sets currency prefix on lumpsum, if the there is a value.
      */
      _setLumpSumPrefix() {
        if (this.lumpSumField.value == '') {
          this.lumpSumPrefix.textContent = ""
        } else {
          this.lumpSumPrefix.textContent = this.currency;
        }
      }

      /**
      * @private
      * sets currency prefix on contribution, if the there is a value.
      */
      _setContributionPrefix() {
        if (this.contributionField.value == '') {
          this.contributionPrefix.textContent = ""
        } else {
          this.contributionPrefix.textContent = this.currency;
        }
      }

      /**
      * Sets the code value
      * @param {Number}
      */
      setRiskSliderToMidPoint(riskGroup) {
        this.risk = this._calculateMidPoint(this.riskGroup);
      }

      /**
      * @private
      * Calculates the mid point of a number and rounds up.
      * @param {Number} Number
      * @return {Number} Returns the mid point or null if the input is not a number
      */
      _calculateMidPoint(inputValue) {

        let midPoint = null;

        if (!inputValue.isNaN) {
          midPoint = Math.round(inputValue / 2);
        }

        return midPoint;
      }

      /**
      * @private
      * Obtain all of the icon elements from the respective
      * input field
      * @return {Array}
      */
      _computeIconElements() {
        let elements = [];
        elements.push(this.$.lump_sum_icon_btn, this.$.cont_icon_btn, this.$.term_icon_btn, this.$.fund_icon_btn);
        return elements;
      }

      /**
      * @private
      * Computes the icon name to all of the help icon elements.
      * If the name is a image, it must be either formatted in JPEG or PNG
      * @param {String} name - svg icon name or url to image file
      */
      _computeIcon(name) {
        let iconName = 'ev-icons:info';
        if (name) {
          if ((name.includes('.png') || name.includes('.jpeg'))) {
            this._computeIconSrc(name);
            iconName = undefined;
          }
          else {
            iconName = name;
          }
        }
        return iconName;
      }

      /**
      * @private
      */
      _computeIconSrc(srcName) {
        this.$.lump_sum_icon_btn.src = srcName;
        this.$.cont_icon_btn.src = srcName;
        this.$.term_icon_btn.src = srcName;
        this.$.fund_icon_btn.src = srcName;
      }

      /**
      * @private
      * Inspects the inputs to determine whether to send a calculate event
      * that will trigger the updating of the results panel
      */
      _checkInputsValidity() {
        let anyEmpty = this._isInputsEmpty();
        let anyInvalid = this._isInputsInvalid();
        if (!(anyEmpty || anyInvalid)) {
          this._fireCalculate();
        }
      }

      /**
       * Fires a calculate event - used to send inputs to the API to calculate the results
       * @event calculate
       */
      _fireCalculate() {
        this.dispatchEvent(new CustomEvent('calculate', { composed: true }));
      }

      /**
      * @private
      * Inspects if any inputs are empty
      * @return {Boolean}
      */
      _isInputsEmpty() {
        let anyEmpty = false;
        if (this.lumpSumField.value == null || this.contributionField.value == null
          || this.termField.value == null) {
          anyEmpty = true;
        }
        return anyEmpty;
      }

      /**
      * @private
      * Inspects if any inputs are invalid
      * @return {Boolean}
      */
      _isInputsInvalid() {
        let anyInvalid = false;
        if (this.lumpSumField.invalid || this.contributionField.invalid || this.termField.invalid) {
          anyInvalid = true;
        }
        return anyInvalid;
      }

      /**
      * @private
      * Sends a calculate custom event to update the chart
      */
      _updateChart() {
        if (!this._isInputsInvalid() && !this._isInputsEmpty()) {
          this._fireCalculate();
        }
      }

      /**
      * @private
      * Set popover position
      * @param {popover} reference to the popover
      * @param {position} top, left, bottom or right
      */
      _setPopoverPosition(popover, position) {
        popover.position = position;
        if (position == 'left' || position == 'right') {
          popover.pointerOffset = 0;
        }
        if (position == 'top' || position == 'bottom') {
          popover.pointerOffset = -100;
        }
      }

      /**
      * @private
      * Set the absolute top position
      * @param {popover} reference to the popover
      * @param {Number} top
      */
      _setPopoverTop(popover, top) {
        popover.absoluteTop = top;
      }

      /**
      * @private
      * Set the absolute left position
      * @param {popover} reference to the popover
      * @param {Number} left
      */
      _setPopoverLeft(popover, left) {
        popover.absoluteLeft = left;
      }

      /**
       * Open the popover and display an overlay
       * @param {event}
       */
      _openPopover(event) {
        if (this.overlay !== null) {
          this.overlay.active = true;
        }

        event.stopPropagation();
        event.currentTarget.nextElementSibling.toggle();
      }

      /**
      * @private
      * Override the existing popover close behaviour to remove the overlay
      */
      _closePopover() {
        if (this.overlay !== null) {
          this.overlay.active = false;
        }
      }

      /**
      * @private
      * Update the risk slider
      */
      _riskChanged() {
        // convert to a number if a numeric string is passed in
        let riskRatingNumber = parseInt(this.risk);
        if(isNaN(riskRatingNumber)) {
          this.setRiskSliderToMidPoint(this.riskGroup);
        }

        let start = (this.fundField.start !== undefined) ? this.fundField.start : this.fundField.min;

        if(this.risk < start) {
          this.risk = start;
        }

        let stop = (this.fundField.stop !== undefined) ? this.fundField.stop : this.fundField.max;

        if(this.risk > stop) {
          this.risk = stop;
        }

        this.fundField.value = this.risk;
      }

    }

    window.customElements.define(EvInvestmentForecastInputsWithRisk.is, EvInvestmentForecastInputsWithRisk);
  </script>
</dom-module>