<link rel="import" href="../polymer/polymer.html">

<script>
  /**
   * `EvInvestmentForecastPopoverBehavior` provides a behavior for all EValue
   * investment forecast widgets to implement.
   *
   * Ensures that popovers with an overlay on the parent behave correctly, so they show the overlay when
   * opened and remove the overlay when closed
   *
   * A popover using the behaviour can be associated with a click on an element (such as a button) in the following way.
   * <popover> is a reference to the popover element.
   *
   * element.addEventListener('click', (event, popover) => { this._openPopover(event, <popover>) });
   *
   * @polymer
   * @mixinFunction
   */
   const EvInvestmentForecastPopoverBehavior = function (superClass) {
    return class extends superClass {
        static get properties() {
            return {
            }
        }

        constructor() {
            super();
        }

        ready() {
            super.ready();
        }

        /**
         * Returns a reference to the overlay of the parent object
         * @return {HTMLElement}
         */
        get overlay() {
            let parent = this.getRootNode();
            return parent.querySelector('ev-overlay');
        }

        /**
         * Open the popover and display an overlay
         * @param {event}
         */
        _openPopover(event, popover) {
            if (this.overlay !== null) {
                this.overlay.opacity = 0.25;
                this.overlay.active = true;
            }

            let popoverClose = popover.shadowRoot.querySelector('#close');
            popoverClose.addEventListener('click', () => { this._closePopover(popover) });

            event.stopPropagation();
            popover.toggle();
        }

        /**
        * @private
        * Override the existing popover close behaviour to remove the overlay
        */
        _closePopover(popover) {
            this._removeOverlay();
            let popoverClose = popover.shadowRoot.querySelector('#close');
            popoverClose.removeEventListener('click', () => { this._closePopover(popover) });
        }

        /**
        * Override the existing popover close behaviour to remove the overlay
        */
        hidePopover(popover) {
            popover.hide();
            this._closePopover(popover);
        }

        /**
        * @private
        * Remove the overlay
        */
        _removeOverlay() {
            if (this.overlay !== null) {
                this.overlay.active = false;
            }
        }
    }
  }
</script>