<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-input-field/ev-input-field.html">
<link rel="import" href="../ev-button/ev-button.html">
<link rel="import" href="../ev-icon-button/ev-icon-button.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../ev-popover/ev-popover.html">

<dom-module id="ev-investment-forecast-inputs">
  <template>
    <style>
      :host {
        background: transparent;
        box-sizing: border-box;
        display: block;
        padding: 0 5px;
      }

      *:focus {
          outline: none;
      }

      ev-input-field {
        display: inline-block;
        width: 79%;
      }

      ev-icon-button {
        background-color: var(--ev-cornflower-500);
        color: #FFFFFF;
      }

      .row {
        align-items: baseline;
        display: flex;
        margin-bottom: 14px;
        justify-content: space-between;
      }

      .row:last-child {
        margin-bottom: 0px;
      }

      #term_icon_btn, #lump_sum_icon_btn, #cont_icon_btn {
        top: 3px;
        margin-right: 12px;
      }

      #inp_lump_sum, #inp_contribution, #inp_term {
        padding-top: 27px;
        padding-bottom: 0px;
      }

      @media only screen and (max-width: 1000px) {
        #term_icon_btn, #lump_sum_icon_btn, #cont_icon_btn {
          margin-right: 22px;
        }
      }

      @media only screen and (max-width: 567px) {
        #term_icon_btn, #lump_sum_icon_btn, #cont_icon_btn {
          margin-right: 12px;
        }
      }

      /* IE10+ */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        :host {
          width: 320px;
        }  

        ev-input-field {
          width: 260px;
        }
      }   

      /* IE10+ and max-width 1000px */
      @media only screen and (max-width: 1000px) and (-ms-high-contrast: none), (-ms-high-contrast: active)  {
        ev-input-field {
          width: 79%;
        }
      }  

      /* IE10+ and max-width 567px */
      @media only screen and (max-width: 567px) and (-ms-high-contrast: none), (-ms-high-contrast: active)  {
        ev-input-field {
          margin-right: 12px;
          width: calc(100% - 37px);
        }
        #term_icon_btn, #lump_sum_icon_btn, #cont_icon_btn {
          margin-left: auto;
          margin-right: 12px !important;
        }
      }  

      /* IE10+ and max-width 1000px */
      @media only screen and (max-width: 314px) and (-ms-high-contrast: none), (-ms-high-contrast: active)  {
        #term_icon_btn, #lump_sum_icon_btn, #cont_icon_btn {
          margin-right: 7px;
        }
      }  

      /* IE10+ and max-width 1000px */
      @media only screen and (max-width: 364px) and (-ms-high-contrast: none), (-ms-high-contrast: active)  {
        #term_icon_btn, #lump_sum_icon_btn, #cont_icon_btn {
          margin-right: 4px;
        }
      }  
    </style>

    <div>
      <div class="row">
          <ev-input-field id="[[idPrefix]]inp_lump_sum" tabindex="0" label="Lump sum" type="number" min="0" max="10000000" minlength="1"
          value="{{lumpSum}}" auto-validate error-message="Maximum: £10,000,000" helper-text="Your initial investment">
          <div slot="prefix">[[currency]]</div>
        </ev-input-field>
        <ev-icon-button id="lump_sum_icon_btn" icon="[[_computeIcon(helpIconName)]]" class="round small" on-click="_togglePopover"></ev-icon-button>    
        <ev-popover for="[[idPrefix]]inp_lump_sum" position="bottom" pointer-offset="-150">
          Your initial lump sum investment. Leave this at 0 if you do not have a lump sum to invest and wish to make monthly contributions
          instead.
        </ev-popover>        
      </div>
      <div class="row">
        <ev-input-field id="[[idPrefix]]inp_contribution" tabindex="0" label="Contributions" type="number" min="0" max="999999"
          minlength="1" value="{{contribution}}" auto-validate error-message="Maximum: £999999" helper-text="Your monthly contribution">
          <div slot="prefix">[[currency]]</div>
        </ev-input-field>
        <ev-icon-button id="cont_icon_btn" icon="[[_computeIcon(helpIconName)]]" class="round small" on-click="_togglePopover"></ev-icon-button>
        <ev-popover for="[[idPrefix]]inp_contribution" position="bottom" pointer-offset="-150">
          Enter the monthly investment you plan to make in addition to any lump sum.
        </ev-popover>
      </div>
      <div class="row">
        <ev-input-field id="[[idPrefix]]inp_term" tabindex="0" label="Investment term" type="number" min="1" max="75" step="1" minlength="1"
          value="{{term}}" auto-validate error-message="Enter a value between 1 and 75" locale helper-text="Your investment term">
          <div slot="suffix">years</div>
        </ev-input-field>
        <ev-icon-button id="term_icon_btn" icon="[[_computeIcon(helpIconName)]]" class="round small" on-click="_togglePopover"></ev-icon-button>
        <ev-popover for="[[idPrefix]]inp_term" position="top" pointer-offset="-150">
          How long you would like to leave your money invested. You can select an investment term ranging from 3 to 50 years.
        </ev-popover>
      </div>
    </div>
  </template>

  <script>
    /**
    `ev-investment-forecast-common`
    Common import containing the inputs for the investment forecast widget.

    @customElement
    @polymer
    @demo demo/inputs-demo.html
    */
    class EvInvestmentForecastInputs extends Polymer.Element {
      static get is() { return 'ev-investment-forecast-inputs'; }
      static get properties() {
        return {
          /** A prefix that can be applied to the id of input/output elements */
          idPrefix: String,
          /** The lump sum to invest */
          lumpSum: {
            type: Number,
            notify: true
          },
          /** The monthly contribution amount */
          contribution: {
            type: Number,
            notify: true
          },
          /** The investment term */
          term: {
            type: Number,
            notify: true
          },
          /**
          * Name of the icon used for the help icon buttons.
          * If you wish to use a SVG Icon from a Iron Icon Set
          * the name should be in the form `iconset_name:icon_name`
          */
          helpIconName: {
            type: String
          },
          /** All help icon elements */
          _iconElements: {
            type: Array,
            computed: '_computeIconElements()'
          },
          /** Currency prefix for monetary input fields */
          currency: {
            type: String,
            value: '£'
          } 
        };
      }

      /**
      * Returns a reference to the lump sum input element.
      * @return {HTMLElement}
      */
      get lumpSumField() {
        return this.shadowRoot.querySelector('#' + (this.idPrefix || '') + 'inp_lump_sum');
      }

      /**
      * Returns a reference to the contribution input element.
      * @return {HTMLElement}
      */
      get contributionField() {
        return this.shadowRoot.querySelector('#' + (this.idPrefix || '') + 'inp_contribution');
      }

      /**
      * Returns a reference to the term input element.
      * @return {HTMLElement}
      */
      get termField() {
        return this.shadowRoot.querySelector('#' + (this.idPrefix || '') + 'inp_term');
      }

      ready() {
        super.ready();
        this.lumpSumField.addEventListener('input', this._checkInputsValidity.bind(this));
        this.contributionField.addEventListener('input', this._checkInputsValidity.bind(this));
        this.termField.addEventListener('input', this._checkInputsValidity.bind(this));
        this._iconElements.forEach((element) => {
          element.icon = 'ev-icons:info';
        });
      }

      /**
      *
      * Obtain all of the icon elements from the respective
      * input field
      * @return {Array}
      */
      _computeIconElements() {
        let elements = [];
        elements.push(this.$.lump_sum_icon_btn, this.$.cont_icon_btn, this.$.term_icon_btn);
        return elements;
      }

      /**
      * Computes the icon name to all of the help icon elements.
      * If the name is a image, it must be either formatted in JPEG or PNG
      * @param {String} name - svg icon name or url to image file
      */
      _computeIcon(name) {
        let iconName = 'ev-icons:info';
        if (name) {
          if ((name.includes('.png') || name.includes('.jpeg'))) {
            this._computeIconSrc(name);
            iconName = undefined;
          }
          else {
            iconName = name;
          }
        }
        return iconName;
      }

      _computeIconSrc(srcName) {
        this.$.lump_sum_icon_btn.src = srcName;
        this.$.cont_icon_btn.src = srcName;
        this.$.term_icon_btn.src = srcName;
      }

      /**
      * inspects inputs to determine whether to disable
      * the calculate button or not
      */
      _checkInputsValidity() {
        let anyEmpty = this._isInputsEmpty();
        let anyInvalid = this._isInputsInvalid();
        if (anyEmpty || anyInvalid) {
          this.dispatchEvent(new CustomEvent('disable-calculate'));
        }
        else {
          this.dispatchEvent(new CustomEvent('enable-calculate'));
        }
      }

      /**
      * inspects if any inputs are empty
      * @return {Boolean}
      */
      _isInputsEmpty() {
        let anyEmpty = false;
        if (this.lumpSumField.value == '' || this.contributionField.value == '' || this.termField.value == '') {
          anyEmpty = true;
        }
        return anyEmpty;
      }

      /**
      * inspects if any inputs are invalid
      * @return {Boolean}
      */
      _isInputsInvalid() {
        let anyInvalid = false;
        if (this.lumpSumField.invalid || this.contributionField.invalid || this.termField.invalid) {
          anyInvalid = true;
        }
        return anyInvalid;
      }

      _togglePopover(event) {
        event.stopPropagation();
        event.currentTarget.nextElementSibling.toggle();
      }
    }

    window.customElements.define(EvInvestmentForecastInputs.is, EvInvestmentForecastInputs);
  </script>
</dom-module>
